/* ---------------------------------------------------------General Styling --------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                 Smartphones (portrait and landscape)                       */
/* -------------------------------------------------------------------------- */
/* Styling for all components at the mobile size.
Divided by component.
Grid layout to follow at the end
Using comments to keep organized */
/* @media only screen and (min-device-width: 0px) { */
/* ---------------------------------- General styling for all components at this size ---------------------------------- */
.inputFieldCodeBlock,
.inputFieldDescription,
.subtitles {
  display: none;
}
.inputFieldCodeBlock,
.inputFieldDescription,
.inputFieldCodeBlockMobile,
.inputFieldDescriptionMobile {
  color: black;
  background: white;
  max-width: 270px;
  border-radius: 15px;
  padding: 10px;
  font-size: 12px;
}
.displayCode {
  color: black;
  background: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
  font-size: 10px;
  max-width: 280px;
}

pre {
  border: 1px solid #ddd;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 10px;
  line-height: 1.2;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  max-width: 280px;
}
/* https://stackoverflow.com/questions/4000792/how-can-i-style-code-listings-using-css */
.displayDescription {
  color: black;
  background: gray;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  font-size: 10px;
  max-width: 280px;
}
#logout {
  position: absolute;
  top: -5px;
  right: 20px;
}
/* Styling for the Register and Login component */
.registerContents,
.loginContents {
  background-color: #ffcc00;
  border-radius: 25px;
  min-width: 240px;
}
.userInputRegister,
.userInputLogin {
  padding-top: 1rem;
  color: white;
  background-color: black;
  border-radius: 25px;
  text-align: center;
}
.registerForm,
.loginForm {
  display: inline-flex;
  flex-direction: column;
}
input {
  margin: 10px;
}
.button-18 {
  margin: 15px;
}
.sendTo {
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.loginLink,
.registerLink {
  margin-top: 30px;
  color: white;
  background-color: rgb(56, 49, 49);
  border-radius: 25px;
  text-align: center;
}
/* Styling for the Sting component */
h2 {
  font-size: 22px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 12px;
}
.pageDescription {
  font-size: 12px;
  text-align: center;
  background: orange;
  border-radius: 12px;
  padding: 8px;
}
.formTitle,
.subtitlesMobile {
  font-size: 14px;
}
.userForm {
  background-color: #ffcc00;
  border-radius: 12px;
  text-align: center;
  margin: 0 auto;
  position: sticky;
  top: 10px;
}
.prevDisplay {
  background-color: #ffcc00;
  border-radius: 12px;
  padding: 0px;
}
.prevDisplaySubtitles {
  padding-left: 20px;
}
.creator {
  font-size: 14px;
  font-style: oblique 20deg;
  text-align: right;
  margin-right: 20px;
  padding: 8px;
}
.individualInput {
  border-radius: 12px;
  color: white;
  background: black;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.checkedText {
  text-align: center;
  padding-left: 40px;
}
/* Styling for the Solution component */
.problem {
  margin-bottom: 10px;
}
.stingToSolve {
  background-color: #ff1100;
  border-radius: 12px;
  padding: 01px;
  margin-bottom: 20px;
}
.stingToSolveInput {
  border-radius: 12px;
  color: white;
  background: black;
  margin: 10px;
  padding-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* ---------------------------------- Gird layouts for each of the components in the same order ---------------------------------- */
/* Grid layout for Register component */

.registerFormContainer,
.loginFormContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.registerFormContainer,
.registerContents,
.loginFormContainer,
.loginContents {
  padding: 2vh;
  grid-column: 1fr;
  grid-row: 1fr;
  margin: 0 auto;
}
/* Grid layout for the Sting component */
.stingContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}
.stingContainer .stingFunctions {
  grid-column: 1fr;
  grid-row: 1fr;
  max-width: 260px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.stingContainer .prevDisplay {
  grid-column: 1fr;
  grid-row: 2fr;
  max-width: 260px;
  margin: 0 auto;
}
/* Grid layout for the Solution component */
.solutionContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}
.solutionContainer .solutionFunctions {
  grid-column: 1fr;
  grid-row: 1fr;
  max-width: 260px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.solutionContainer .prevDisplay {
  grid-column: 1fr;
  grid-row: 2fr;
  max-width: 260px;
  margin: 0 auto;
}
/* -------------------------------------------------------------------------- */
/*                        iPads (portrait and landscape)                      */
/* -------------------------------------------------------------------------- */
/* Styling for all components at the tablet size.
Divided by component.
Grid layout to follow at the end
Using comments to keep organized */
@media only screen and (min-width: 768px) {
  /* ---------------------------------- General styling for all components at this size ---------------------------------- */
  .buzzKill {
    font-size: 80px;
    letter-spacing: -0.8rem;
  }
  .inputFieldCodeBlock,
  .inputFieldDescription,
  .subtitles {
    display: unset;
    max-width: 200px;
  }
  /* Styling for the Sting component */
  /* Styling for the Solution component */
  .subtitlesMobile,
  .inputFieldCodeBlockMobile,
  .inputFieldDescriptionMobile {
    display: none;
  }
  pre,
  .pageDescription,
  .displayDescription,
  .displayCode,
  .formTitle,
  .subtitles {
    padding: 10px;
    font-size: 13px;
    max-width: none;
  }
  h2 {
    margin: 0px;
    font-size: 30px;
  }
  /* ---------------------------------- Gird layouts for each of the components in the same order ---------------------------------- */
  /* Grid layout for the Sting component */
  .stingContainer,
  .solutionContainer {
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
  }
  .stingContainer .buzzKillHeader,
  .solutionContainer .buzzKillHeader {
    transform-origin: 350px 200px;
    transform: rotate(-90deg);
    position: sticky;
    top: 20px;
    height: 100vh;
    text-align: left;
    white-space: nowrap;
    margin-left: -220px;
    margin-top: -30px;
  }
  .stingContainer .stingFunctions {
    position: sticky;
    top: 20px;
    height: 100vh;
    grid-column: 2 / 3;
    grid-row: 1fr;
    grid-gap: 10px;
    max-width: 280px;
  }
  .solutionContainer .solutionFunctions {
    grid-column: 2 / 3;
    grid-row: 1fr;
    grid-gap: 10px;
    max-width: 280px;
  }
  .stingContainer .prevDisplay,
  .solutionContainer .prevDisplay {
    grid-column: 3 / 4;
    grid-row: 1fr;
    max-width: 400px;
  }
}
/* -------------------------------------------------------------------------- */
/*             Desktops and Laptops (portrait and landscape)                  */
/* -------------------------------------------------------------------------- */
/* tyling for all components at the desktop size.
Divided by component.
Grid layout to follow at the end
Using comments to keep organized */
@media only screen and (min-width: 1024px) {
  /* ---------------------------------- General styling for all components at this size ---------------------------------- */
  .buzzKill {
    font-size: 100px;
    letter-spacing: -1rem;
  }
  /* Styling for the Sting component */
  /* Styling for the Sting component */
  .inputFieldCodeBlock,
  .inputFieldDescription {
    display: unset;
    max-width: 250px;
  }
  pre,
  .displayDescription,
  .pageDescription,
  .formTitle,
  .subtitles {
    font-size: 13px;
  }
  h2 {
    font-size: 36px;
  }
  /* ---------------------------------- Gird layouts for each of the components in the same order ---------------------------------- */
  /* Grid layout for the Sting component */
  /* Grid layout for the Solution component */
  .solutionContainer,
  .stingContainer {
    display: grid;
    grid-template-columns: 1px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding: 20px;
    max-width: 960px;
  }
  .solutionContainer .buzzKillHeader,
  .stingContainer .buzzKillHeader {
    transform-origin: 350px 200px;
    transform: rotate(-90deg);
    position: sticky;
    top: 30px;
    height: 100vh;
    text-align: left;
    white-space: nowrap;
    margin-left: -235px;
    margin-top: 10px;
  }
  .solutionContainer .solutionFunctions,
  .stingContainer .stingFunctions {
    grid-column: 2 / 3;
    grid-row: 1fr;
    /* grid-gap: 10px; */
    min-width: 390px;
  }
  .solutionContainer .prevDisplay,
  .stingContainer .prevDisplay {
    grid-column: 3 / 4;
    grid-row: 1fr;
    min-width: 580px;
  }
  /* Grid layout for the AboutMe component */
}
