@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Exo&family=Fjord+One&family=Hubballi&family=Inter:wght@500&family=Jost:ital,wght@0,400;0,500;0,600;1,400&family=Noto+Serif&family=PT+Mono&family=Press+Start+2P&family=Roboto+Mono&family=Roboto:wght@100;300;400;500;700&family=Ropa+Sans&family=Shippori+Antique+B1&display=swap');
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
